.CAP{
    font-family:'Times New Roman', Times, serif;
}
#PAC{
    background-color: bisque;
    border: 5px dotted aqua;
}
.carousel-item{
    text-align: center;
}

.h3 {
    text-align: center;
    text-decoration-color:red;
    border-color: brown;
}

#textboxid {
    height:fit-content;
    size: 90%;
}